---
layout: default
title: Fitness Launchpad
---

{% for post in site.posts %}{% if post.title == 'Welcome to the Fitness Launchpad' %}
{{ post.content | split:'<!--excerpt-->' | first }}{% if post.content contains '<!--excerpt-->' %}
<a href="{{ post.url }}">Read More</a>
<br />
{% endif %}
<a href="{{ post.url }}#disqus_thread">0 Comments and 0 Reactions</a>
{% endif %}{% endfor %}

{% for post in site.posts %}{% unless post.title == 'Welcome to the Fitness Launchpad' %}
{{ post.content | split:'<!--excerpt-->' | first }}{% if post.content contains '<!--excerpt-->' %}
<a href="{{ post.url }}">Read More</a>
<br />
{% endif %}
<a href="{{ post.url }}#disqus_thread">0 Comments and 0 Reactions</a>
{% endunless %}{% endfor %}
